/0684/sesión01 - introducción/Java/HolaMundo/target/
/0682/sesión01 - introducción/Java/HolaMundo/target/
/0684/sesión04 - lib java/Publicaciones_v02/build/
/0684/sesión04 - lib java/Publicaciones_v02/dist/
/0684/sesión04 - lib java/Publicaciones_v02/nbproject/private/
